body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

.cancel-button {
  margin: 8px 0 0 4px ;
  width: 100px;
  align-self: center;
}

.delete-button {
  color: rgb(255, 89, 89);
  height: 20px;
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.edit-button {
  height: 16px;
  width: 25px;
  margin-right: 10px;
}

.filter {
  margin: 8px;
}

.home {
  background-image: url("./assets/libDesat.jpg");
  min-height: 600px;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.item-list-header {
  display: grid;
  grid-template-columns: repeat(5, 3fr) 2fr;
  border: solid black 1px;
  margin: 0 20px;
  background-color:rgb(162, 226, 240);
  font-weight: bold;
}

.item-card {
  display: grid;
  grid-template-columns: repeat(5, 3fr) 2fr;
  border: solid black 1px;
  border-top: none;
  margin: 0 20px;
  justify-items: center;
  align-items: center;
}

.item-card.complete{
  background-color: rgb(198, 254, 198);
}

.item-form {
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  background-color: #E3E3E3;
}

.item-form-input {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px black solid;
  background-color: #5DA271;
}

nav a.active {
  border-radius: 20px;
  background-color:#E3E3E3;
  padding: 5px;
}

.new-item-link {
  display: inline-block;
  align-self: center;
  width: 25%;
  padding: 6px;
  background-color: rgb(208, 208, 208);
  border: 2px black solid;
  border-radius: 20px;
  margin: 15px 0px 15px 0px
}

.new-item-link:hover {
  background-color: rgb(184, 184, 184);
}

.refresh-button {
  margin-top: 30px;
  font-size: 2em;
  color: blue;
  cursor: pointer;
}

.submit-button {
  margin: 8px 4px 0 0 ;
  width: 100px;
  align-self: center;
}

.suggestion-container {
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background-color: #E3E3E3;
}

.suggestion-header {
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background-color: #E3E3E3;
  margin-bottom: 0;
}

.suggestion-icon {
  font-size: 2em;
}

.suggestion-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: black 1px solid;
  padding: 0 20px 0 20px;
}

.toggle-container {
  margin: 15px 0 20px 0;
}

.view-toggle {
  margin: 5px 0 5px 0;
  padding: 5px;
  border: black 2px solid;
  font-weight: bold;
  cursor: pointer;
}

.view-toggle.active {
  background-color:#484349;
  color: white;
}

.view-toggle.complete {
  border-radius: 0 10px 10px 0;
}

.view-toggle.incomplete {
  border-radius: 10px 0 0 10px;
}
