body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px black solid;
  background-color: rgb(220, 220, 220);
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.movie-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr;
  border: solid black 1px;
  margin: 0 20px;
  background-color:rgb(162, 226, 240);
  font-weight: bold;
}

.movie-card {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr;
  border: solid black 1px;
  margin: 0 20px;
}
